Django>=3.0
django-allauth
django-material
Pillow
sorl-thumbnail
gunicorn==19.9.0
python-memcached
psycopg2
-e git+https://github.com/django-dbbackup/django-dbbackup.git#egg=dbbackup
django-storages
dropbox