{% extends "account/base.html" %}

{% load i18n material_form %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1>{% trans "Change Password" %}</h1>

    <form class="auth-form" method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {% form form=form %}{% endform %}
        <button type="submit" class="waves-effect waves-light btn" name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock %}