{% extends "account/base.html" %}

{% load material_form i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}
{% block signup_active %}active{% endblock %}

{% block content %}
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a class="btn btn-small" href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="auth-form signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {% form form=form %}{% endform %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

{% endblock %}